In [1]:
import requests
import json
import pprint
import pandas as pd
import pycurl
from itertools import chain
import numpy as np

pp = pprint.PrettyPrinter()

In [2]:
# This is an example of one pull from the balldontlie.io API for a player searched by name
# You can see that lebron james was added as a search term at the end, and we can replicate this with other players
# The goal being to isolate the id's to use later for performance statistics
# Next we will be creating a for loop to get all of the players from our salaries list

In [3]:
# As you can see in this example, any capitalization does not matter for the player search
james = requests.get("https://www.balldontlie.io/api/v1/players/?search=LEbron jaMes")
james.json()

{'data': [{'id': 237,
   'first_name': 'LeBron',
   'height_feet': 6,
   'height_inches': 8,
   'last_name': 'James',
   'position': 'F',
   'team': {'id': 14,
    'abbreviation': 'LAL',
    'city': 'Los Angeles',
    'conference': 'West',
    'division': 'Pacific',
    'full_name': 'Los Angeles Lakers',
    'name': 'Lakers'},
   'weight_pounds': 250}],
 'meta': {'total_pages': 1,
  'current_page': 1,
  'next_page': None,
  'per_page': 25,
  'total_count': 1}}

In [4]:
# We take the file from BDLio and convert it to a dictionary so we car parse the ID
james_dict = json.loads(james.text)
print(james_dict)
type(james_dict)

{'data': [{'id': 237, 'first_name': 'LeBron', 'height_feet': 6, 'height_inches': 8, 'last_name': 'James', 'position': 'F', 'team': {'id': 14, 'abbreviation': 'LAL', 'city': 'Los Angeles', 'conference': 'West', 'division': 'Pacific', 'full_name': 'Los Angeles Lakers', 'name': 'Lakers'}, 'weight_pounds': 250}], 'meta': {'total_pages': 1, 'current_page': 1, 'next_page': None, 'per_page': 25, 'total_count': 1}}

dict

In [5]:
james_id = james_dict['data'][0]["id"]

In [6]:
%store -r player_names_list
player_names_list

['Stephen Curry',
 'John Wall',
 'Russell Westbrook',
 'James Harden',
 'Damian Lillard',
 'LeBron James',
 'Kevin Durant',
 'Giannis Antetokounmpo',
 'Paul George',
 'Kawhi Leonard',
 'Klay Thompson',
 'Jimmy Butler',
 'Tobias Harris',
 'Khris Middleton',
 'Anthony Davis',
 'Rudy Gobert',
 'Kyrie Irving',
 'Bradley Beal',
 'Kristaps Porzingis',
 'Devin Booker']

In [7]:
url = "https://www.balldontlie.io/api/v1/players/?search="
player_id_list = []

for name in player_names_list:
    player_url = url + f"{name}"
    player_get = requests.get(player_url)
    player_get.json()
    player_dict = json.loads(player_get.text)
    player_id_list.append(player_dict['data'][0]["id"])
print(player_id_list)
%store player_id_list

[115, 1014, 472, 192, 278, 237, 140, 15, 172, 274, 443, 79, 200, 315, 117, 176, 228, 37, 378, 57]
Stored 'player_id_list' (list)

In [8]:
averages_url = "https://www.balldontlie.io/api/v1/season_averages?player_ids[]="
averages_list = []
for ids in player_id_list:
    averages_new = averages_url + f"{str(ids)}"
    averages_get = requests.get(averages_new)
    averages_get.json()
    averages_dict = json.loads(averages_get.text)
    averages_list.append(averages_dict['data'])
    if ids == 57:
        break
averages_list

[[{'games_played': 15,
   'player_id': 115,
   'season': 2021,
   'min': '32:35',
   'fgm': 8.87,
   'fga': 19.53,
   'fg3m': 5.27,
   'fg3a': 12.87,
   'ftm': 4.67,
   'fta': 4.87,
   'oreb': 0.67,
   'dreb': 5.53,
   'reb': 6.2,
   'ast': 6.47,
   'stl': 1.73,
   'blk': 0.6,
   'turnover': 3.27,
   'pf': 1.6,
   'pts': 27.67,
   'fg_pct': 0.454,
   'fg3_pct': 0.409,
   'ft_pct': 0.959}],
 [],
 [{'games_played': 16,
   'player_id': 472,
   'season': 2021,
   'min': '34:13',
   'fgm': 7.25,
   'fga': 16.75,
   'fg3m': 1.31,
   'fg3a': 4.19,
   'ftm': 3.25,
   'fta': 4.69,
   'oreb': 1.38,
   'dreb': 7.0,
   'reb': 8.38,
   'ast': 8.19,
   'stl': 1.38,
   'blk': 0.19,
   'turnover': 5.25,
   'pf': 3.06,
   'pts': 19.06,
   'fg_pct': 0.433,
   'fg3_pct': 0.313,
   'ft_pct': 0.693}],
 [{'games_played': 16,
   'player_id': 192,
   'season': 2021,
   'min': '33:11',
   'fgm': 5.75,
   'fga': 13.44,
   'fg3m': 2.88,
   'fg3a': 7.25,
   'ftm': 5.19,
   'fta': 5.94,
   'oreb': 0.94,
   'dreb': 6.31,
   'reb': 7.25,
   'ast': 8.63,
   'stl': 1.13,
   'blk': 0.69,
   'turnover': 4.63,
   'pf': 2.19,
   'pts': 19.56,
   'fg_pct': 0.428,
   'fg3_pct': 0.397,
   'ft_pct': 0.874}],
 [{'games_played': 15,
   'player_id': 278,
   'season': 2021,
   'min': '34:18',
   'fgm': 7.4,
   'fga': 18.6,
   'fg3m': 2.73,
   'fg3a': 9.07,
   'ftm': 2.67,
   'fta': 3.13,
   'oreb': 0.4,
   'dreb': 3.87,
   'reb': 4.27,
   'ast': 7.67,
   'stl': 0.67,
   'blk': 0.2,
   'turnover': 2.47,
   'pf': 1.47,
   'pts': 20.2,
   'fg_pct': 0.398,
   'fg3_pct': 0.301,
   'ft_pct': 0.851}],
 [{'games_played': 6,
   'player_id': 237,
   'season': 2021,
   'min': '37:03',
   'fgm': 9.5,
   'fga': 20.33,
   'fg3m': 2.83,
   'fg3a': 8.17,
   'ftm': 3.0,
   'fta': 3.83,
   'oreb': 0.5,
   'dreb': 5.0,
   'reb': 5.5,
   'ast': 7.0,
   'stl': 2.33,
   'blk': 0.83,
   'turnover': 4.17,
   'pf': 2.33,
   'pts': 24.83,
   'fg_pct': 0.467,
   'fg3_pct': 0.347,
   'ft_pct': 0.783}],
 [{'games_played': 16,
   'player_id': 140,
   'season': 2021,
   'min': '33:27',
   'fgm': 10.44,
   'fga': 18.25,
   'fg3m': 2.0,
   'fg3a': 4.63,
   'ftm': 5.44,
   'fta': 6.44,
   'oreb': 0.44,
   'dreb': 7.25,
   'reb': 7.69,
   'ast': 4.69,
   'stl': 0.5,
   'blk': 0.5,
   'turnover': 2.94,
   'pf': 1.13,
   'pts': 28.31,
   'fg_pct': 0.572,
   'fg3_pct': 0.432,
   'ft_pct': 0.845}],
 [{'games_played': 14,
   'player_id': 15,
   'season': 2021,
   'min': '31:45',
   'fgm': 9.64,
   'fga': 18.86,
   'fg3m': 1.36,
   'fg3a': 4.5,
   'ftm': 6.0,
   'fta': 8.86,
   'oreb': 1.71,
   'dreb': 9.14,
   'reb': 10.86,
   'ast': 5.71,
   'stl': 1.07,
   'blk': 1.64,
   'turnover': 2.93,
   'pf': 2.93,
   'pts': 26.64,
   'fg_pct': 0.511,
   'fg3_pct': 0.302,
   'ft_pct': 0.677}],
 [{'games_played': 14,
   'player_id': 172,
   'season': 2021,
   'min': '35:02',
   'fgm': 9.79,
   'fga': 21.93,
   'fg3m': 3.0,
   'fg3a': 8.64,
   'ftm': 4.43,
   'fta': 4.93,
   'oreb': 0.57,
   'dreb': 7.71,
   'reb': 8.29,
   'ast': 5.07,
   'stl': 2.21,
   'blk': 0.43,
   'turnover': 4.43,
   'pf': 2.57,
   'pts': 27.0,
   'fg_pct': 0.446,
   'fg3_pct': 0.347,
   'ft_pct': 0.899}],
 [],
 [],
 [{'games_played': 12,
   'player_id': 79,
   'season': 2021,
   'min': '31:51',
   'fgm': 8.0,
   'fga': 14.92,
   'fg3m': 0.5,
   'fg3a': 1.5,
   'ftm': 6.92,
   'fta': 8.25,
   'oreb': 1.58,
   'dreb': 3.83,
   'reb': 5.42,
   'ast': 4.92,
   'stl': 1.92,
   'blk': 0.42,
   'turnover': 1.83,
   'pf': 1.83,
   'pts': 23.42,
   'fg_pct': 0.536,
   'fg3_pct': 0.333,
   'ft_pct': 0.838}],
 [{'games_played': 9,
   'player_id': 200,
   'season': 2021,
   'min': '33:01',
   'fgm': 8.0,
   'fga': 15.89,
   'fg3m': 1.44,
   'fg3a': 4.22,
   'ftm': 2.78,
   'fta': 3.0,
   'oreb': 1.22,
   'dreb': 7.22,
   'reb': 8.44,
   'ast': 4.44,
   'stl': 0.11,
   'blk': 0.56,
   'turnover': 1.89,
   'pf': 1.56,
   'pts': 20.22,
   'fg_pct': 0.503,
   'fg3_pct': 0.342,
   'ft_pct': 0.926}],
 [{'games_played': 7,
   'player_id': 315,
   'season': 2021,
   'min': '28:50',
   'fgm': 6.29,
   'fga': 15.14,
   'fg3m': 1.29,
   'fg3a': 5.14,
   'ftm': 3.86,
   'fta': 4.57,
   'oreb': 0.43,
   'dreb': 3.71,
   'reb': 4.14,
   'ast': 4.29,
   'stl': 1.71,
   'blk': 0.14,
   'turnover': 3.0,
   'pf': 2.0,
   'pts': 17.71,
   'fg_pct': 0.415,
   'fg3_pct': 0.25,
   'ft_pct': 0.844}],
 [{'games_played': 16,
   'player_id': 117,
   'season': 2021,
   'min': '33:23',
   'fgm': 9.19,
   'fga': 18.0,
   'fg3m': 0.38,
   'fg3a': 1.88,
   'ftm': 4.44,
   'fta': 5.81,
   'oreb': 3.44,
   'dreb': 6.94,
   'reb': 10.38,
   'ast': 2.81,
   'stl': 1.06,
   'blk': 2.06,
   'turnover': 2.25,
   'pf': 2.06,
   'pts': 23.19,
   'fg_pct': 0.51,
   'fg3_pct': 0.2,
   'ft_pct': 0.763}],
 [{'games_played': 15,
   'player_id': 176,
   'season': 2021,
   'min': '28:50',
   'fgm': 4.8,
   'fga': 6.8,
   'fg3m': 0.0,
   'fg3a': 0.0,
   'ftm': 4.33,
   'fta': 6.6,
   'oreb': 2.8,
   'dreb': 11.6,
   'reb': 14.4,
   'ast': 0.8,
   'stl': 1.0,
   'blk': 1.73,
   'turnover': 1.87,
   'pf': 2.47,
   'pts': 13.93,
   'fg_pct': 0.706,
   'fg3_pct': 0,
   'ft_pct': 0.657}],
 [],
 [{'games_played': 11,
   'player_id': 37,
   'season': 2021,
   'min': '35:15',
   'fgm': 8.55,
   'fga': 21.09,
   'fg3m': 1.64,
   'fg3a': 6.45,
   'ftm': 3.82,
   'fta': 3.91,
   'oreb': 0.73,
   'dreb': 4.45,
   'reb': 5.18,
   'ast': 5.64,
   'stl': 1.27,
   'blk': 0.45,
   'turnover': 3.82,
   'pf': 2.09,
   'pts': 22.55,
   'fg_pct': 0.405,
   'fg3_pct': 0.254,
   'ft_pct': 0.977}],
 [{'games_played': 8,
   'player_id': 378,
   'season': 2021,
   'min': '28:51',
   'fgm': 7.0,
   'fga': 15.88,
   'fg3m': 2.13,
   'fg3a': 6.0,
   'ftm': 3.13,
   'fta': 3.75,
   'oreb': 2.38,
   'dreb': 5.5,
   'reb': 7.88,
   'ast': 1.38,
   'stl': 0.75,
   'blk': 1.5,
   'turnover': 1.5,
   'pf': 2.5,
   'pts': 19.25,
   'fg_pct': 0.441,
   'fg3_pct': 0.354,
   'ft_pct': 0.833}],
 [{'games_played': 14,
   'player_id': 57,
   'season': 2021,
   'min': '30:29',
   'fgm': 7.64,
   'fga': 17.71,
   'fg3m': 2.07,
   'fg3a': 5.71,
   'ftm': 3.93,
   'fta': 4.64,
   'oreb': 1.0,
   'dreb': 4.57,
   'reb': 5.57,
   'ast': 5.07,
   'stl': 1.07,
   'blk': 0.21,
   'turnover': 2.57,
   'pf': 2.43,
   'pts': 21.29,
   'fg_pct': 0.431,
   'fg3_pct': 0.363,
   'ft_pct': 0.846}]]

In [9]:
averages_df = pd.DataFrame(list(chain.from_iterable(averages_list)))
averages_df

,games_played,player_id,season,min,fgm,fga,fg3m,fg3a,ftm,fta,...,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct
0,15,115,2021,32:35,8.87,19.53,5.27,12.87,4.67,4.87,...,6.20,6.47,1.73,0.60,3.27,1.60,27.67,0.454,0.409,0.959
1,16,472,2021,34:13,7.25,16.75,1.31,4.19,3.25,4.69,...,8.38,8.19,1.38,0.19,5.25,3.06,19.06,0.433,0.313,0.693
2,16,192,2021,33:11,5.75,13.44,2.88,7.25,5.19,5.94,...,7.25,8.63,1.13,0.69,4.63,2.19,19.56,0.428,0.397,0.874
3,15,278,2021,34:18,7.40,18.60,2.73,9.07,2.67,3.13,...,4.27,7.67,0.67,0.20,2.47,1.47,20.20,0.398,0.301,0.851
4,6,237,2021,37:03,9.50,20.33,2.83,8.17,3.00,3.83,...,5.50,7.00,2.33,0.83,4.17,2.33,24.83,0.467,0.347,0.783
5,16,140,2021,33:27,10.44,18.25,2.00,4.63,5.44,6.44,...,7.69,4.69,0.50,0.50,2.94,1.13,28.31,0.572,0.432,0.845
6,14,15,2021,31:45,9.64,18.86,1.36,4.50,6.00,8.86,...,10.86,5.71,1.07,1.64,2.93,2.93,26.64,0.511,0.302,0.677
7,14,172,2021,35:02,9.79,21.93,3.00,8.64,4.43,4.93,...,8.29,5.07,2.21,0.43,4.43,2.57,27.00,0.446,0.347,0.899
8,12,79,2021,31:51,8.00,14.92,0.50,1.50,6.92,8.25,...,5.42,4.92,1.92,0.42,1.83,1.83,23.42,0.536,0.333,0.838
9,9,200,2021,33:01,8.00,15.89,1.44,4.22,2.78,3.00,...,8.44,4.44,0.11,0.56,1.89,1.56,20.22,0.503,0.342,0.926
10,7,315,2021,28:50,6.29,15.14,1.29,5.14,3.86,4.57,...,4.14,4.29,1.71,0.14,3.00,2.00,17.71,0.415,0.250,0.844
11,16,117,2021,33:23,9.19,18.00,0.38,1.88,4.44,5.81,...,10.38,2.81,1.06,2.06,2.25,2.06,23.19,0.510,0.200,0.763
12,15,176,2021,28:50,4.80,6.80,0.00,0.00,4.33,6.60,...,14.40,0.80,1.00,1.73,1.87,2.47,13.93,0.706,0.000,0.657
13,11,37,2021,35:15,8.55,21.09,1.64,6.45,3.82,3.91,...,5.18,5.64,1.27,0.45,3.82,2.09,22.55,0.405,0.254,0.977
14,8,378,2021,28:51,7.00,15.88,2.13,6.00,3.13,3.75,...,7.88,1.38,0.75,1.50,1.50,2.50,19.25,0.441,0.354,0.833
15,14,57,2021,30:29,7.64,17.71,2.07,5.71,3.93,4.64,...,5.57,5.07,1.07,0.21,2.57,2.43,21.29,0.431,0.363,0.846

In [10]:
%store -r salary_df

In [11]:
player_id_df = pd.DataFrame(player_id_list)
salary_id_join = player_id_df.join(salary_df)

In [12]:
salary_player_id_df = salary_id_join.rename(columns={0: 'player_id'})
salary_player_id_df

    player_id  Rk                 Player   Tm       2021-22
0         115   1          Stephen Curry  GSW  $45780966.00
1        1014   2              John Wall  HOU  $44310840.00
2         472   3      Russell Westbrook  LAL  $44211146.00
3         192   4           James Harden  BRK  $43848000.00
4         278   5         Damian Lillard  POR  $43750000.00
5         237   6           LeBron James  LAL  $41180544.00
6         140   7           Kevin Durant  BRK  $40918900.00
7          15   8  Giannis Antetokounmpo  MIL  $39344970.00
8         172   9            Paul George  LAC  $39344970.00
9         274  10          Kawhi Leonard  LAC  $39344900.00
10        443  11          Klay Thompson  GSW  $37980720.00
11         79  12           Jimmy Butler  MIA  $36016200.00
12        200  13          Tobias Harris  PHI  $36000000.00
13        315  14        Khris Middleton  MIL  $35500000.00
14        117  15          Anthony Davis  LAL  $35361360.00
15        176  16            Rudy Gobert  UTA  $35344828.00
16        228  17           Kyrie Irving  BRK  $34916200.00
17         37  18           Bradley Beal  WAS  $34502130.00
18        378  19     Kristaps Porzingis  DAL  $31650600.00
19         57  20           Devin Booker  PHO  $31610000.00

In [13]:
player_mapper = dict(zip(salary_player_id_df['player_id'].values, salary_player_id_df["Player"].values))
player_mapper
%store player_mapper

Stored 'player_mapper' (dict)

In [14]:
all_data_df = salary_player_id_df.merge(averages_df, on='player_id', how = 'outer')
all_data_df.set_index('Rk').fillna(0)

,player_id,Player,Tm,2021-22,games_played,season,min,fgm,fga,fg3m,...,reb,ast,stl,blk,turnover,pf,pts,fg_pct,fg3_pct,ft_pct
Rk,,,,,,,,,,,,,,,,,,,,,
1,115,Stephen Curry,GSW,$45780966.00,15.0,2021.0,32:35,8.87,19.53,5.27,...,6.20,6.47,1.73,0.60,3.27,1.60,27.67,0.454,0.409,0.959
2,1014,John Wall,HOU,$44310840.00,0.0,0.0,0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.000
3,472,Russell Westbrook,LAL,$44211146.00,16.0,2021.0,34:13,7.25,16.75,1.31,...,8.38,8.19,1.38,0.19,5.25,3.06,19.06,0.433,0.313,0.693
4,192,James Harden,BRK,$43848000.00,16.0,2021.0,33:11,5.75,13.44,2.88,...,7.25,8.63,1.13,0.69,4.63,2.19,19.56,0.428,0.397,0.874
5,278,Damian Lillard,POR,$43750000.00,15.0,2021.0,34:18,7.40,18.60,2.73,...,4.27,7.67,0.67,0.20,2.47,1.47,20.20,0.398,0.301,0.851
6,237,LeBron James,LAL,$41180544.00,6.0,2021.0,37:03,9.50,20.33,2.83,...,5.50,7.00,2.33,0.83,4.17,2.33,24.83,0.467,0.347,0.783
7,140,Kevin Durant,BRK,$40918900.00,16.0,2021.0,33:27,10.44,18.25,2.00,...,7.69,4.69,0.50,0.50,2.94,1.13,28.31,0.572,0.432,0.845
8,15,Giannis Antetokounmpo,MIL,$39344970.00,14.0,2021.0,31:45,9.64,18.86,1.36,...,10.86,5.71,1.07,1.64,2.93,2.93,26.64,0.511,0.302,0.677
9,172,Paul George,LAC,$39344970.00,14.0,2021.0,35:02,9.79,21.93,3.00,...,8.29,5.07,2.21,0.43,4.43,2.57,27.00,0.446,0.347,0.899
10,274,Kawhi Leonard,LAC,$39344900.00,0.0,0.0,0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.000
11,443,Klay Thompson,GSW,$37980720.00,0.0,0.0,0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.000
12,79,Jimmy Butler,MIA,$36016200.00,12.0,2021.0,31:51,8.00,14.92,0.50,...,5.42,4.92,1.92,0.42,1.83,1.83,23.42,0.536,0.333,0.838
13,200,Tobias Harris,PHI,$36000000.00,9.0,2021.0,33:01,8.00,15.89,1.44,...,8.44,4.44,0.11,0.56,1.89,1.56,20.22,0.503,0.342,0.926
14,315,Khris Middleton,MIL,$35500000.00,7.0,2021.0,28:50,6.29,15.14,1.29,...,4.14,4.29,1.71,0.14,3.00,2.00,17.71,0.415,0.250,0.844
15,117,Anthony Davis,LAL,$35361360.00,16.0,2021.0,33:23,9.19,18.00,0.38,...,10.38,2.81,1.06,2.06,2.25,2.06,23.19,0.510,0.200,0.763
16,176,Rudy Gobert,UTA,$35344828.00,15.0,2021.0,28:50,4.80,6.80,0.00,...,14.40,0.80,1.00,1.73,1.87,2.47,13.93,0.706,0.000,0.657
17,228,Kyrie Irving,BRK,$34916200.00,0.0,0.0,0,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000,0.000,0.000
18,37,Bradley Beal,WAS,$34502130.00,11.0,2021.0,35:15,8.55,21.09,1.64,...,5.18,5.64,1.27,0.45,3.82,2.09,22.55,0.405,0.254,0.977
19,378,Kristaps Porzingis,DAL,$31650600.00,8.0,2021.0,28:51,7.00,15.88,2.13,...,7.88,1.38,0.75,1.50,1.50,2.50,19.25,0.441,0.354,0.833
20,57,Devin Booker,PHO,$31610000.00,14.0,2021.0,30:29,7.64,17.71,2.07,...,5.57,5.07,1.07,0.21,2.57,2.43,21.29,0.431,0.363,0.846

In [15]:
# Game Score = Points Scored + (0.4 x Field Goals) – (0.7 x Field Goal Attempts) – (0.4 x (Free Throw Attempts – Free Throws)) + 
# (0.7 x Offensive Rebounds) + (0.3 x Defensive Rebounds) + Steals + (0.7 x Assists) + (0.7 x Blocks) – (0.4 x Personal Fouls) – Turnovers

In [16]:
game_scores_list = []
for player in range (len(all_data_df)):
    a = all_data_df.loc[player, 'pts']
    b = all_data_df.loc[player, 'fgm'] * 0.4
    c = all_data_df.loc[player,'fga'] * 0.7
    d = ((all_data_df.loc[player,'fta']) - (all_data_df.loc[player, 'ftm']) * 0.4)
    e = all_data_df.loc[player,'oreb'] * 0.7
    f = all_data_df.loc[player,'dreb'] * 0.3
    g = all_data_df.loc[player,'stl']
    h = all_data_df.loc[player,'ast'] * 0.7
    i = all_data_df.loc[player,'blk'] * 0.7
    j = all_data_df.loc[player,'pf'] * 0.4
    k = all_data_df.loc[player,'turnover']
    game_score_player = a + b - c - d + e + f + g + h + i - j - k
    game_scores_list.append([game_score_player])
game_scores_list

[[19.442000000000007],
 [nan],
 [10.683],
 [13.286999999999999],
 [12.64],
 [16.328000000000003],
 [18.671000000000003],
 [16.886000000000003],
 [15.721],
 [nan],
 [nan],
 [16.045],
 [14.524999999999999],
 [9.027],
 [16.117],
 [11.575000000000003],
 [nan],
 [11.548000000000004],
 [12.018],
 [12.176]]

In [17]:
game_score_df = pd.DataFrame(game_scores_list)
game_score_df.fillna(0)

         0
0   19.442
1    0.000
2   10.683
3   13.287
4   12.640
5   16.328
6   18.671
7   16.886
8   15.721
9    0.000
10   0.000
11  16.045
12  14.525
13   9.027
14  16.117
15  11.575
16   0.000
17  11.548
18  12.018
19  12.176

In [18]:
salaries_df = all_data_df.iloc[: , 4].str.replace('$', '')
salaries_df.astype(float)

/Users/tgmyers/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

0     45780966.0
1     44310840.0
2     44211146.0
3     43848000.0
4     43750000.0
5     41180544.0
6     40918900.0
7     39344970.0
8     39344970.0
9     39344900.0
10    37980720.0
11    36016200.0
12    36000000.0
13    35500000.0
14    35361360.0
15    35344828.0
16    34916200.0
17    34502130.0
18    31650600.0
19    31610000.0
Name: 2021-22, dtype: float64

In [19]:
salaries_gamescore_nan = pd.merge(salaries_df, game_score_df, right_index=True, left_index=True)
salaries_gamescore_df = salaries_gamescore_nan.fillna(0)
salaries_gamescore_df['2021-22'] = salaries_gamescore_df['2021-22'].astype(float)
salaries_gamescore_df.dtypes

2021-22    float64
0          float64
dtype: object

In [20]:
salaries_gamescore_df = salaries_gamescore_df.rename(columns = {0 : 'game_score'})
salaries_gamescore_df

       2021-22  game_score
0   45780966.0      19.442
1   44310840.0       0.000
2   44211146.0      10.683
3   43848000.0      13.287
4   43750000.0      12.640
5   41180544.0      16.328
6   40918900.0      18.671
7   39344970.0      16.886
8   39344970.0      15.721
9   39344900.0       0.000
10  37980720.0       0.000
11  36016200.0      16.045
12  36000000.0      14.525
13  35500000.0       9.027
14  35361360.0      16.117
15  35344828.0      11.575
16  34916200.0       0.000
17  34502130.0      11.548
18  31650600.0      12.018
19  31610000.0      12.176

In [38]:
# Create the GameScore ratio function and add it to a new dataframe
pd.options.display.float_format = '{:,.2f}'.format
salaries_gamescore_df['GameScore_Salary_Ratio'] = (salaries_gamescore_df['game_score'] * 10000000) / salaries_gamescore_df["2021-22"]
salaries_gamescore_df['Player Name'] = player_names_list
salaries_gamescore_df

         2021-22  game_score  GameScore_Salary_Ratio            Player Name
0  45,780,966.00       19.44                    4.25          Stephen Curry
1  44,310,840.00        0.00                    0.00              John Wall
2  44,211,146.00       10.68                    2.42      Russell Westbrook
3  43,848,000.00       13.29                    3.03           James Harden
4  43,750,000.00       12.64                    2.89         Damian Lillard
5  41,180,544.00       16.33                    3.96           LeBron James
6  40,918,900.00       18.67                    4.56           Kevin Durant
7  39,344,970.00       16.89                    4.29  Giannis Antetokounmpo
8  39,344,970.00       15.72                    4.00            Paul George
9  39,344,900.00        0.00                    0.00          Kawhi Leonard
10 37,980,720.00        0.00                    0.00          Klay Thompson
11 36,016,200.00       16.05                    4.45           Jimmy Butler
12 36,000,000.00       14.52                    4.03          Tobias Harris
13 35,500,000.00        9.03                    2.54        Khris Middleton
14 35,361,360.00       16.12                    4.56          Anthony Davis
15 35,344,828.00       11.58                    3.27            Rudy Gobert
16 34,916,200.00        0.00                    0.00           Kyrie Irving
17 34,502,130.00       11.55                    3.35           Bradley Beal
18 31,650,600.00       12.02                    3.80     Kristaps Porzingis
19 31,610,000.00       12.18                    3.85           Devin Booker