In [1]:
import requests
import pandas as pd
import json
import pprint
pp = pprint.PrettyPrinter()

In [2]:
# I downloaded the salries list as a csv and was able to isolate the 2021 salary and the player name
# Index column 'Rk' stands for rank as in the rank of the pay where 1 is the highest paid
# Tm stands for team where there is an abbreviation for the team name

In [3]:
salary_df = pd.read_csv('player_salaries.csv')

In [4]:
salary_df

    Rk                 Player   Tm       2021-22
0    1          Stephen Curry  GSW  $45780966.00
1    2              John Wall  HOU  $44310840.00
2    3      Russell Westbrook  LAL  $44211146.00
3    4           James Harden  BRK  $43848000.00
4    5         Damian Lillard  POR  $43750000.00
5    6           LeBron James  LAL  $41180544.00
6    7           Kevin Durant  BRK  $40918900.00
7    8  Giannis Antetokounmpo  MIL  $39344970.00
8    9            Paul George  LAC  $39344970.00
9   10          Kawhi Leonard  LAC  $39344900.00
10  11          Klay Thompson  GSW  $37980720.00
11  12           Jimmy Butler  MIA  $36016200.00
12  13          Tobias Harris  PHI  $36000000.00
13  14        Khris Middleton  MIL  $35500000.00
14  15          Anthony Davis  LAL  $35361360.00
15  16            Rudy Gobert  UTA  $35344828.00
16  17           Kyrie Irving  BRK  $34916200.00
17  18           Bradley Beal  WAS  $34502130.00
18  19     Kristaps Porzingis  DAL  $31650600.00
19  20           Devin Booker  PHO  $31610000.00

In [5]:
player_names_list = salary_df["Player"].values.tolist()
%store player_names_list
%store salary_df

Stored 'player_names_list' (list)
Stored 'salary_df' (DataFrame)