In [2]:
import requests
import json
import pprint
import pandas as pd
import pycurl
from itertools import chain
import numpy as np

In [17]:
james = requests.get("https://www.balldontlie.io/api/v1/stats?player_ids[]=237&start_date='2021-01-01'")
james.json()
james_all = json.loads(james.text)
james_df = pd.DataFrame(james_all['data']) 
james_df

,id,ast,blk,dreb,fg3_pct,fg3a,fg3m,fg_pct,fga,fgm,...,game,min,oreb,pf,player,pts,reb,stl,team,turnover
0,3057988,10,0,10,42.9,7,3,36.4,22,8,...,"{'id': 127571, 'date': '2021-01-01T00:00:00.00...",35:41,1,0,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",26,11,2,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",4
1,3069772,8,0,13,50.0,6,3,56.2,16,9,...,"{'id': 127589, 'date': '2021-01-03T00:00:00.00...",32:00,0,2,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",22,13,1,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",2
2,3082611,7,1,9,25.0,4,1,55.0,20,11,...,"{'id': 127606, 'date': '2021-01-05T00:00:00.00...",34:05,2,0,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",26,11,1,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",6
3,3095285,12,0,6,57.1,7,4,53.3,15,8,...,"{'id': 127621, 'date': '2021-01-07T00:00:00.00...",34:54,0,3,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",27,6,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",4
4,3100012,7,0,7,0.0,5,0,52.4,21,11,...,"{'id': 127632, 'date': '2021-01-08T00:00:00.00...",34:09,0,1,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",28,7,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",4
5,3114345,7,1,6,16.7,6,1,46.7,15,7,...,"{'id': 127644, 'date': '2021-01-10T00:00:00.00...",30:21,1,2,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",18,7,1,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",2
6,3170376,5,1,7,44.4,9,4,50.0,20,10,...,"{'id': 157586, 'date': '2021-01-12T00:00:00.00...",29:11,1,0,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",26,8,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",5
7,3165448,7,0,6,62.5,8,5,45.0,20,9,...,"{'id': 156558, 'date': '2021-01-13T00:00:00.00...",27:29,0,2,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",26,6,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",2
8,3170989,11,0,7,33.3,6,2,54.5,11,6,...,"{'id': 127682, 'date': '2021-01-15T00:00:00.00...",30:30,1,3,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",21,8,1,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",3
9,3203942,5,0,5,28.6,7,2,37.5,16,6,...,"{'id': 127711, 'date': '2021-01-18T00:00:00.00...",37:58,0,1,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",19,5,1,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",5
10,3274695,8,1,5,60.0,10,6,52.0,25,13,...,"{'id': 127728, 'date': '2021-01-21T00:00:00.00...",38:04,1,2,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",34,6,1,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",3
11,3327281,6,0,11,0.0,2,0,37.5,16,6,...,"{'id': 127748, 'date': '2021-01-23T00:00:00.00...",28:30,0,1,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",17,11,2,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",6
12,3381239,6,2,8,63.6,11,7,73.1,26,19,...,"{'id': 127759, 'date': '2021-01-25T00:00:00.00...",38:07,0,1,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",46,8,2,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",3
13,3425176,7,0,6,40.0,5,2,54.5,22,12,...,"{'id': 127775, 'date': '2021-01-27T00:00:00.00...",38:32,0,3,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",34,6,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",3
14,3469137,10,0,5,50.0,8,4,42.1,19,8,...,"{'id': 127788, 'date': '2021-01-28T00:00:00.00...",35:45,2,2,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",22,7,1,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",2
15,3521118,7,1,6,36.4,11,4,41.2,17,7,...,"{'id': 127803, 'date': '2021-01-30T00:00:00.00...",37:21,1,3,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",21,7,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",5
16,3574329,9,1,7,33.3,6,2,41.7,12,5,...,"{'id': 127816, 'date': '2021-02-01T00:00:00.00...",37:58,0,0,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",21,7,2,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",2
17,3670041,10,1,10,40.0,5,2,63.2,19,12,...,"{'id': 127842, 'date': '2021-02-04T00:00:00.00...",35:27,0,1,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",27,10,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",2
18,3722385,11,0,5,42.9,7,3,50.0,26,13,...,"{'id': 127862, 'date': '2021-02-06T00:00:00.00...",46:29,0,3,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",33,5,4,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",7
19,3783067,12,2,14,20.0,10,2,50.0,22,11,...,"{'id': 127873, 'date': '2021-02-08T00:00:00.00...",42:30,0,3,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",28,14,2,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",5
20,3836031,7,0,6,33.3,9,3,45.0,20,9,...,"{'id': 127888, 'date': '2021-02-10T00:00:00.00...",41:03,0,2,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",25,6,2,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",5
21,3884548,8,0,8,25.0,4,1,60.0,15,9,...,"{'id': 127897, 'date': '2021-02-12T00:00:00.00...",34:08,1,2,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",28,9,2,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",5
22,3943959,9,1,9,0.0,5,0,50.0,18,9,...,"{'id': 127916, 'date': '2021-02-14T00:00:00.00...",30:56,1,2,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",22,10,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",1
23,3998787,7,1,13,25.0,4,1,65.0,20,13,...,"{'id': 127930, 'date': '2021-02-16T00:00:00.00...",37:53,0,1,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",30,13,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",5
24,4054737,7,0,8,16.7,6,1,60.9,23,14,...,"{'id': 127947, 'date': '2021-02-18T00:00:00.00...",32:59,0,1,"{'id': 237, 'first_name': 'LeBron', 'height_fe...",32,8,0,"{'id': 14, 'abbreviation': 'LAL', 'city': 'Los...",3

In [19]:
a = james_df.loc['pts']
b = james_df.loc['fga'] * 0.4
c = james_df.loc['fga'] * 0.7
d = ((james_df.loc['fta']) - (james_df.loc['ftm']) * 0.4)
e = james_df.loc['oreb'] * 0.7
f = james_df.loc['dreb'] * 0.3
g = james_df.loc['stl']
h = james_df.loc['ast'] * 0.7
i = james_df.loc['blk'] * 0.7
j = james_df.loc['pf'] * 0.4
k = james_df.loc['turnover']
james_score_player = a + b - c - d + e + f + g + h + i - j - k
james_scores_list.append([james_score_player])
james_scores_list

KeyError: 'pts'