In [11]:
import requests
import pandas as pd
import json
import pprint
pp = pprint.PrettyPrinter()

In [12]:
# I downloaded the salries list as a csv and was able to isolate the 2021 salary and the player name
# Index column 'Rk' stands for rank as in the rank of the pay where 1 is the highest paid
# Tm stands for team where there is an abbreviation for the team name

In [13]:
salary_df = pd.read_csv('nba_salaries.csv', index_col = 'Rk')

In [14]:
salary_df

                   Player   Tm       2021-22
Rk
1           Stephen Curry  GSW  $45780966.00
2               John Wall  HOU  $44310840.00
3       Russell Westbrook  LAL  $44211146.00
4            James Harden  BRK  $43848000.00
5          Damian Lillard  POR  $43750000.00
6            LeBron James  LAL  $41180544.00
7            Kevin Durant  BRK  $40918900.00
8   Giannis Antetokounmpo  MIL  $39344970.00
9             Paul George  LAC  $39344970.00
10          Kawhi Leonard  LAC  $39344900.00
11          Klay Thompson  GSW  $37980720.00
12           Jimmy Butler  MIA  $36016200.00
13          Tobias Harris  PHI  $36000000.00
14        Khris Middleton  MIL  $35500000.00
15          Anthony Davis  LAL  $35361360.00
16            Rudy Gobert  UTA  $35344828.00
17           Kyrie Irving  BRK  $34916200.00
18           Bradley Beal  WAS  $34502130.00
19     Kristaps Porziņģis  DAL  $31650600.00
20           Devin Booker  PHO  $31610000.00

In [15]:
player_names_list = salary_df["Player"].values.tolist()
player_names_list
%store player_names_list

Stored 'player_names_list' (list)